
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
  margin: 0;
  font-family: "Montserrat";
  color: #333;
}
.navig {
  padding: 20px;
  display: flex;
  
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navig h1 {
  text-align: left;
  color: #f1356d;
}
.nav.lien {
  margin-left: auto;
  align-items: center;
}
.lien a {
  margin-left: 16px;
  text-decoration: none;
  text-align: right;
  padding: 6px;
}
.lien a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.Liste p:hover {
color: #3399ac;
box-shadow: 1px 3px 5px rgba(0,0.1,0,0.1);
font-size: 30px;}

  .nom{
 text-decoration: none;
 margin-left: 0px;
 text-overflow: ellipsis;
 border-left:5px double plum;
 border-right:5px double plum;
 border-top:5px double plum;
 border-bottom:5px double plum;
}

.A button {color:rgb(103, 98, 112);
background: none;
border-left:none;
border-right:none;
border-top:none;
border-bottom:none;
font-size: 10px;
}

.A button:hover {color:black;
font-weight: bolder;}

.fonctions {
text-align: center;
}

.Maths {
  text-align: center;


}

.Maths select,.Maths input {
  background: none;
  border: solid #20828f 1px;
  box-shadow: darkgray;
  box-sizing: border-box;
  padding: 5px;
  
}

.Maths h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #20828f;
  font-style: italic;
  font-size: 25px;
}

.sous-pages a {
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 40px;
  text-decoration: none;
  color: #535153f6;
  font-weight: bolder;
}

.sous-pages a:hover {
  text-shadow: 3px ;
  color:#9636a3b9;
  font-size: larger;
}

.fonctions button {
  background: none;
  border-left:none;
  border-right:none;
  border-top:none;
  border-bottom:none;
  margin-left: 10 px;
  margin-top: 20px;

}

.fonctions button:hover {
color:rgb(103, 98, 112);
font-weight: bolder;
font-size: 16px;
}

.barre {
  font-size: 10px;
  align-items: center;

}

.barre button,input {
  background: white;
  border: solid gray thin;
  border-radius: 30px;
  border-style: dashed;
  margin-left: 30px;
  margin-top: 10px;
  margin-right: 30px;
  font-size: 12px;
  padding: 8px;
  position:inherit;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.barre button:hover{
color:#0ca397;

}

.titrestat {
  font-size: 17px;
  position:relative;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-bottom: 30px;
  margin-top: 40px;
  margin-left: 30px;
}

.entre {
  font-size: 13px;
  margin-bottom: 15px;
  margin-left: 0px;
  align-items:inherit;
  position: relative;
}

.stat a,.jeux a {
  text-decoration: none;
  border: solid gray thin;
  border-radius: 30px;
  border-style: dashed;
  margin-left: 30px;
  margin-top: 10px;
  font-size: 25px;
  padding: 15px;
}

.stat,.jeux a:hover{
  color:rgb(197, 123, 216);
  font-weight: bolder;
  font-size: 30px;
}